{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Captura de MRZ</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        video { border-radius: 10px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); }
        .button-container { display: flex; justify-content: center; gap: 20px; margin-top: 20px; }
        .capture-container { display: flex; flex-direction: column; align-items: center; gap: 20px; }
    </style>
</head>
<body>
    <div class="container">
        <h2>Escanea tu documento</h2>
        <div class="capture-container">
            <video id="video" width="640" height="480" autoplay></video>
            <canvas id="canvas" style="display: none;"></canvas>
            <button onclick="captureImage()">Capturar Imagen</button>
        </div>

        <div class="button-container">
            <a href="{% url 'generar_informe' %}" class="btn">Generar Informe</a>
            <a href="{% url 'visitas_activas' %}" class="btn">Ver Visitas Activas</a>
        </div>

        <form id="form" method="post" action="{% url 'captura_imagen' %}">
            {% csrf_token %}
            <input type="hidden" name="imagen" id="imagenData">
            <button type="submit" id="submitBtn" style="display: none;">Enviar</button>
        </form>
    </div>

    <script>
        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        const imagenData = document.getElementById('imagenData');
        const form = document.getElementById('form');

        navigator.mediaDevices.getUserMedia({ video: { width: 1280, height: 720 } })
            .then(stream => { video.srcObject = stream; })
            .catch(err => { console.error("Error al acceder a la cámara: ", err); });

        function captureImage() {
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            const context = canvas.getContext('2d');
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            imagenData.value = canvas.toDataURL('image/png', 1.0);
            form.submit();
        }

        // Captura con la barra espaciadora
        document.addEventListener('keydown', function(event) {
            if (event.code === 'Space') {
                event.preventDefault(); // Evita que la página se desplace
                captureImage();
            }
        });
    </script>
</body>
</html>